@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fcfbf7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #bc1823;
  text-decoration: inherit;
}

a:hover {
  color: #bc1823;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

input[type="radio"]:checked + label {
  background-color: #bc1823; /* bg-tr-0 */
  border-color: #2d2d2d; /* border-gray-800 */
  color: #fcfbf7; /* text-[#fcfbf7] */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

input[type="radio"] + label {
  border-color: #9ca3af; /* border-gray-400 */
  background-color: transparent;
  color: inherit;
  transition: all 0.3s ease;
}

/* Default Select Styling */
select {
  border: none;
  border-bottom: 2px solid #000; /* Bottom border black */
  background-color: transparent;
  color: #000; /* Black text */
  transition: all 0.3s ease;
  padding: 8px 12px;
  font-size: 1rem;
  appearance: none; /* Remove default dropdown styles */
  position: relative;
}

/* Apply styles when the select is focused or has a value */
select:focus,
select:not(:placeholder-shown) {
  border-bottom-color: #000; /* Keep bottom border black */
  color: #000; /* Black text */
  outline: none; /* Removes default focus outline */
}

/* Container for positioning the icon */
.select-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Custom dropdown arrow */
.select-container::after {
  font-size: 14px;
  color: #000; /* Black icon */
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Prevents click issues */
}

/* Change arrow color on focus */
select:focus + .select-container::after,
select:not(:placeholder-shown) + .select-container::after {
  color: #000; /* Keep the icon black */
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #2d2d2d;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
